version: "3.9"

services:
 postgres:
  image: postgres:16-alpine
  container_name: postgres-db
  restart: unless-stopped
  environment:
   - POSTGRES_USER=${POSTGRES_USER}
   - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
   - POSTGRES_DB=${POSTGRES_DB}
  volumes:
   - postgres_data:/var/lib/postgresql/data
  ports:
   - "${POSTGRES_PORT}:5432"
  networks:
   - devnet

 adminer:
  image: adminer:latest
  container_name: adminer-ui
  restart: unless-stopped
  ports:
   - "${ADMINER_PORT}:8080"
  depends_on:
   - postgres
  networks:
   - devnet

volumes:
 postgres_data:

networks:
 devnet:
  driver: bridge

